@import "@style/_util.scss";

.friendApply {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .4rem;
  border-bottom: 0.01rem solid var(--subline);
  height: 1.4rem;

  figure {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
  }

  .text {
    flex: 1;
    margin-left: .2rem;

    h5,
    h6 {
      @include ell(1)
    }

    h6 {
      margin-top: .06rem;
      color: var(--text);
    }
  }

  .menu {
    display: flex;
    align-items: center;

    a {
      margin-right: .4rem;
    }

    :global(.menu) {
      margin-left: .4rem;
      height: .6rem;
      padding: 0 .2rem;
      font-size: .28rem;
      white-space: nowrap;

      &:nth-child(2) {
        background: var(--error);
      }
    }
  }
}